   
  /*----Common css----*/

  .container{
		width: 95%;
		margin: auto;
	} 

  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  textarea, input { outline: none; }

  /*----Common css----*/

  
/*   #mainbtn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
   }

   #mainbtn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    }*/

  .b-shadow{
      box-shadow: 0 1px 6px rgba(57, 73, 76, .35);
  }
  .b-shadow-bottom{

    box-shadow: 0 3px 6px rgba(57, 73, 76, .35);

  }



    
    /*Social media icons stars*/
	.sm,.sm ul{
		padding: 0;
		margin: 0;
		background-color: #111111;
	}
   
    .smcontainer{

     padding: 5px 8% 5px 5px;
    }

	.sm ul li{
		display: block;
	}
	 .smul{
	 	text-decoration: none;
	 	list-style: none;
	 	display: flex;
	 	flex-direction: row;
	 	justify-content: flex-end;
	 }
     .smimage{
     	/*mix-blend-mode: multiply;*/
     	width: auto;
     	height: 20px;
     }
     img.smimage:hover {
       transform: scale(1.2);
       transition-duration: 200ms;
     }

     .menu-item a:hover svg{
      color: #3d72a4;
     }
     /*Social media icons ends*/
  

     .header-inner{
     	padding-top: 0px;  /*To avoid the defalut padding */
     }
       
      /*Menu editing starts*/ 
     .menu-item a {
	    color: white !important; /*Overriding the default menu color*/
	 }
      
      .menu-item a:hover {
       color: #3D72A4!important;
       /*transform: scale(1.1);*/
      }

  

      .nav-toggle .toggle-icon, .nav-toggle svg {
        height: 1.8rem;
        width: 2.6rem;
      }
      /*Menu editing ends*/ 
	 
  /*Banner section start here*/ 

	.bannerdiv{
		min-height: 400px;
		padding-top: 100px;
    position: relative;
	}

	.bannerdiv h1{
		margin: 25px;
		font-size: 45px;
		color: black;
		text-align: center;
		line-height: 60px;
    filter: drop-shadow(0 0 0.75rem gray);
 
}


	.bannerdiv h2{
		margin: 0;
		font-size: 30px;
		color: white;
		text-align: center;
		line-height: 60px;
		filter: drop-shadow(0 0 3.75rem black);
       
	} 
	.banner{
		padding: 3rem 0;
		background-image:linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url("http://localhost/techhawk/wp-content/themes/twentytwenty/images/banner2.jpg");
		background-position: top;	
	}

	#mainbtn{
    margin: auto;
    border-radius: 36px;
		width: 250px;
		background-color: #3d72a4;
		text-decoration: none;
    color: white;
    animation-name: moveinbottom;
    animation-duration: 1s;
    animation-timing-function: ease-in;
	}

	#mainbtn:focus{
		outline: none;
		border: none;
		border: 2px solid white;
		
	}

	  #mainbtn:hover{
		background-color:white ;
		color: black;
    }

    #mainbtn:focus{
      border: none;
      outline: none;
    }
    
    .bannerdiv span{
     animation-name: moveintop;
     animation-duration: 1s;
     display: block;
     animation-timing-function: ease-out;
    }

   .text-box{
    display: flex;
    flex-direction: column;
   }

  .title-primary-main{
    color: #fff;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-shadow: 0 0 2px grey;
   }

  .title-primary-sub{
    color: #fff;
    font-size: 28px;
    letter-spacing: 13.8px;
    text-transform: uppercase;
    text-shadow: 0 0 2px grey;
  }
  
  @keyframes moveintop{
    0% {
       opacity: 0;
       transform: translateY(-10rem);
    }
    80% {
      
       transform: translateY(1rem);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
  }

   @keyframes moveinbottom{
    0% {
       opacity: 0;
       transform: translateY(10rem);
       
    }
    80% {
           
           transform: translateY(1rem);
    }
    100% {    
        
        opacity: 1;
        transform: translateY(0);
    }
  }
   

  /*Banner section ends here*/ 

  
  /*Site footer edit*/

  .footer-credits {
      position: relative;
      left: 50%;
      transform: translate(-50%, 0);
  }
  #site-footer{
  	border-top: 0.5px solid;
  }
  ul.footer-menu.reset-list-style li a {
      font-size: 16px;
  }

  .social-icons a{
      background-color: white;
      color: black!important;
  }
  .social-icons a:hover{
    color: gray!important;
  }

  /*Site footer edit*/


  /*--------Single page product----------*/

  /*-------side bar----------*/

  .wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  }

  .tabs {
    position: relative;
    margin: 3rem 0;
    height: 38.75rem;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    width: 168px;
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 20px;
    background: #111111;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    padding: 25px 25px 0px 0px;
    height: auto;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    background: #3D72A4;
    color: #2c3e50;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: #fff;
    color: black;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: background-color 0.5s, z-index  0.5s ease 1ms;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 1s;
  }
  .tab-switch:checked + .tab-label:after {
   transform: rotate(90deg);
   transition: transform 700ms;
  }
  .tab-label:after {
      content: "\203A";
      display: inline-block;
      font-size: 19px;
      font-family: Arimo;
      margin-left: -6px;
      position: relative;
      left: 28px;
      top:1px;
  }

  .slider-caption-class{
    color: #fff;
  }
  .sidebar_cat_title{
    color: #fff;
  }
  /*-------side bar----------*/

  .the_title_wrapper h1{
    font-size: 40px;
    padding-right: 30%;
    margin: 0;
  }

  .single_page_section{
    padding: 0;
  }

  .the_content_wrapper h2{
    font-size: 2em;

  }

   .the_content_wrapper img{
    margin: 14px;

  }

  .the_content_wrapper h3{
    font-size: 1.5em;

  }

  .wp-block-group * {
   margin: 0!important;
   background-color: red;
  }

   section.single_page_section div.subform_wrapper{
    margin-top: 60px;
    float: right;
    width: 30%;
   }
   
   .catlist_wrapper{
    margin: 30px 0px 30px 0;
    padding: 30px;
    width: 30%;
    float: right;
    background-color: #3D72A4;
   }

    .catlist_wrapper h3{
      font-size: 21px;
      text-align: center;
      margin: 30px 0 15px 0;
   }
    .catlist_wrapper a{
      color: black;
   }

    .catlist_wrapper p {
    margin: 0 0 0px 0;
   }

    .sidebar-ul li{
      color: #fff;
   }

   .first_tt{
      margin-top:25px;
   }
    .single_title{
      color: black;
   }
 /*-------Single page ends----------*/
  
   /*-------site footer----------*/

  .menu-footer{
    margin-bottom: 13px;
    border-bottom: .5px #3d72a4 solid;
  }

  .footer-social-wrapper a:hover svg{
    color: #3d72a4;
  }

  .to-the-top{
    color: #fff;
  }

   /*-------site footer----------*/
 
    .content_wrapper{
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	/*padding: 25px 0 25px 0 ;*/
    	justify-content: space-between;
    }
    .title_wrapper{
        /*padding: 0 0 0 43px;*/
    }
    .title_wrapper h1{
    	font-size: 25px;
    	margin: 0;
    }
    .single_content{
    	width: 300px;

      padding: 20px 0 20px 0;
      margin:auto;
    }
    .entry-title{
    	font-size: 21px;
    	padding: 0;
    	margin: 0;
    }

    .entry-title a{

    	display: block;
    	margin: 12px 0 0px 0;

    }

    .single_wrapper p{
    	font-size: 16px;
    }

    span time{
    	font-size: 12px;
    }

	img {
    max-width: 100%;
    width: auto;
    height: auto;
   }
   
   .btnexclude{
    flex: 0 0 90%;
    margin: auto;
    padding: 0px 0px 16px 0;
   }

   .btnexclude a{
    width: 38px;
    margin-left: 50%;
    display: block;
    transform: translate(-50%, 0px);
   }

	 h1.title_cat{
	  text-transform: capitalize;
	  display: flex;
	  flex-direction: row;
	  font-size: 32px;
    padding-bottom: 15px;
	 }
	h1.title_cat::after,h1.title_cat::before{
	  content: "";
	  flex: 1 1;
	  border-bottom: 2px solid #3d72a4;
	  margin: auto;
	 }
	
	h1.title_cat::after,h1.title_cat::before{
	  margin-left: 10px;
      margin-right: 10px;
	}
      
  /*---category page starts----*/

    #site-footer{
    	 clear: both;		
    }
    .section_cat{
    	margin: 0;
    	padding: 0;
    }
    section.cat_title > div > h2
    {
      text-align: center;
      margin: 0;  
      padding: 0;
      font-size: 30px;
    }

    section div.content_cat{
    max-width: 70%;
   padding: 20px 20px 67px 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    }

    div.content_cat  img{
    	min-width: 100%;
    }
      div.single_p{
      	 padding: 20px 0 20px 0;
      	width: 900px;

      } 
      div.single_p h4{
      	padding: 5px 0 5px 0;
      	margin: 0;
      	font-size: 11px;
      }

        div.single_p h1{
      	padding: 5px 0 5px 0;
      	margin: 0;
      	font-size: 30px;
        }

         div.single_p p{
      	padding: 5px 0 5px 0;
      	margin: 0;
      	font-size: 16px;
        }
    

    .recent_post_single img{
    	width: 100px;
    	height: auto;


    }
    .sbar_right{
    	max-width: 30%;
    	float: right;
    }
    
    .single_content_cat {
      width: 415px;
      padding: 10px 0 10px 0;
    }

    .breadcrumb{
      display: flex;
      flex-direction: row;

    }
    .breadcrumb li{
      list-style: none;
      display: inline;
      padding: 0;
      margin:0;
    }
    
   body > section.section_cat > div > div.cat_title h2{
    text-transform: uppercase;
    font-size: 2em !important;
    margin: 1.5rem 0 1rem;
    }
    section.cat_title{
      padding: 3rem 0;
    }
    

    /*---- sidebar ----*/

    .subform .subform_title{
    	padding: 24px 24px 0px 24px;
    text-align: center;
    }
    .subform_title h6{
      letter-spacing: 2px;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    }
    .subform form input{
    	margin-bottom: 10px;
    	width: 100%;
    }

    .subform form{
    	padding: 0px 24px 24px 24px;
    }

    .subform #btn{
    	background-color: black;
    }

    .subform_wrapper{
      padding-top: 0;
      background: #3D72A4;
      margin-top: 30px;
    }
    #btn:hover{
    	color: gray;
    }
    
    .recent_post_single{
    	padding: 10px;
    	display: flex;
    	flex-direction: row;
    }
    .recent_post_single div{
    	margin: 3px;
    }
    .recent_post_single h6 {
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-transform: capitalize;
    }
    .recent_p_wrapper{
    overflow: hidden;
    background-color: #3d72a4;
    padding: 1px 24px 24px 24px;
    margin: 30px 0;
    }

    #slider-id > li a{
      color: black;
    }

    .pagination_wrapper{

      flex:0 0 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }
    
    .catlist_title h2{

      font-size: 25px;
      text-align: center;
      background-color: #fff;
      color: black;
      padding: 10px;
      margin: 0;
    }

    /*Single page*/

    .the_content_wrapper{
       padding: 0 40px 40px 40px;
        float: left;
        width: 70%;
        min-height: 870px;
    }

    .the_sidebar_wrapper{
      float: right;
      width: 30%;
      margin-top: 30px;
      background-color: #3D72A4;
    }

/*  privacy-policy*/
.section_privacy_policy {
  padding-top:0;
}
.section_privacy_policy h1{
  text-align: center;
  padding: 0;
  line-height: 100px;
}

.section_privacy_policy .p_the_content_wrapper{
  width: 60%;
  margin: auto;
}

/*  privacy-policy ends*/





/*  Media Queries Ends Here*/


@media only screen
and (max-width : 320px) {

 .sm {
  display: none;
 }

section div.content_cat {
  max-width: 100%;
  float: none;
}

.sbar_right {
    max-width: 100%;
    float: none;
   }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    
    .cookiepop {
    flex-direction: column!important;
    height: 214px!important;
    padding: 20px 12px!important;
    }
    
    .cookiepop .closebtn {
    top: 6px!important;
    left: 90.8%!important;
    }

    .cookiepop p {
    padding: 14px!important;
    }

    .cookiepop_section {
    bottom: -30px!important;
    }

    .title-primary-main {
    font-size: 40px;
    letter-spacing: 5px;
    }
    .title-primary-sub {
    font-size: 17px;
    letter-spacing: 2.8px;
    }
    .section_privacy_policy .p_the_content_wrapper{
      width: 95%;
      margin: auto;
    } 

    .the_title_wrapper h1 {
    text-align: center;
    padding-right: 0;
    font-size: 39px;
    }
    .the_content_wrapper {
    padding: 16px;
    }

    .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
   .recent_p_wrapper {
     padding: 0;
    }
    .sm{
    display: none;
    }
 
   .bannerdiv{
    padding-top: 60px !important;
    }

   .bannerdiv h1{
    
    line-height: 50px;
    font-size: 22px;
    
   } 

  .bannerdiv h2{
     
     line-height: 50px;
    font-size: 20px;   
  }
  #mainbtn{

    width: 165px;

  }
   .contents{

    flex-direction: column;

  }
  .contents .home-category-box{
    width: 100%;
  }
    
    .smcontainer {
    padding: 5px 2% 5px 5px;
    }
 


   .the_content_wrapper{
      float: none;
      width: 100%;
    }

    .the_sidebar_wrapper {
    float: none;
    width: 100%;
    margin-top:0;
    }

    .catlist_wrapper {
      margin: 30px 0px 30px 0;
    width: 100%;
    float: none;
  }

    section.single_page_section div.subform_wrapper{
    float: none;
    width: 100%;
    }

  body > section.section_cat > div > div.cat_title h2 {
    text-transform: uppercase;
    font-size: 2em !important;
    margin: -0.5rem 0 0rem;
    text-align: center;
   }

  section div.content_cat {
    max-width: 100%;
    padding: 20px 0 20px 0;
    justify-content: space-around;
    flex-direction: column;
    float: none;
   }
  .sbar_right {
    max-width: 100%;
    float: none;
   }

   .single_content_cat {
    width: 300px;
    margin: auto;
   }
}


@media only screen
and (min-width : 480px)
and (max-width : 768px) {
    
    .cookiepop {
    flex-direction: column!important;
    height: 180px!important;
    }
    
    .cookiepop .closebtn {
    top: 7px!important;
    left: 93.8%!important;
    }

    .cookiepop p {
    padding: 14px!important;
    }

    .cookiepop_section {
    bottom: -30px!important;
    }
    
    section.single_page_section div.subform_wrapper{
    float: none;
    width: 100%;
    }
    .the_content_wrapper{
      float: none;
      width: 100%;
    }
    .the_sidebar_wrapper {
    float: none;
    width: 100%;
    }

    .catlist_wrapper {
    margin: 30px 0px 30px 0;
    width: 100%;
    float: none;
  }
    .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38.75rem;
    }

body > section.section_cat > div > div.cat_title h2 {
    text-transform: uppercase;
    font-size: 2em !important;
    margin: -0.5rem 0 0rem;
    text-align: center;
   }


   .sbar_right {
    max-width: 415px;
    margin: auto;
    float: none;
    }
   
    section div.content_cat {
    max-width: 100%;
    float: none;

    }

    .single_content_cat {
    margin:auto;
    }

    .smcontainer {
    padding: 5px 2% 5px 5px;
    }

}


/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
  .cookiepop {
    height: 92px!important;
   }
   
   .cookiepop .actbtn {
    width: 230px!important;
   }
  .cookiepop .closebtn {
    left: 96.2%!important;
   }
  .footer-menu{
  flex-direction: column;
  }
  section.single_page_section div.subform_wrapper{
    float: none;
    width: 45%;
    margin: auto;
  }
  .the_content_wrapper{
      float: none;
      width: 100%;
  }
  .the_sidebar_wrapper {
    float: none;
    width: 45%;
    margin: auto;
  }

  .catlist_wrapper {
    margin: 30px 0px 30px 0;
    width: 45%;
    margin: auto;
    float: none;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38.75rem;
  }

  .smcontainer {
    padding: 5px 2% 5px 5px;
  }

 .single_content {
    width: 450px;
}

  .single_content_cat {
      width: 330px;
  }

  .sbar_right {
    max-width: 40%;
  
  }

  section div.content_cat {
    max-width: 60%;
  }

}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
   
   .cookiepop .closebtn {
    left: 95.8%!important;
    }
  .smcontainer {
    padding: 5px 2% 5px 5px;
    }

 
  .recent_post_single {
      width: fit-content;
      margin: auto;
  }

  .single_content_cat {
    width: 550px;
   }

  .sbar_right {
    max-width: 550px;
  }


}


/* iPads (portrait) ----------- */
@media only screen
and (min-width : 1024px)
and (max-width : 1440px)
and (orientation : portrait) {
  
   .catlist_wrapper {
    margin: 72px 0px 30px 0;
    
   } 

  .footer-menu{
    flex-direction: column;
  }

   .tab{
        width: 146px;
   }

   .tab-label:after {
    left: 18px;
    top: 0px;
    }


  .single_content_cat {
         min-width: 35%;
  }

  .single_content {
    width: 450px;
  }

  section div.content_cat {
    max-width: 65%;
  }
  .sbar_right {
    max-width: 35%;
  }

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

 
   .tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38.75rem;

  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


    








.article-blurb-title {
    font-size: 23px;
    font-weight: 400;
    font-family: Arimo,Google-Oswald,sans-serif;
    color: #777;
    padding: 1em 30px;
    margin: 0;
}
.wp-block-group__inner-container .article-blurb{
  max-width: 75rem;
list-style: none;
}
.article-blurb{
list-style: none;
}
.article-blurb-advantages li:before {
    content: "\f055";
    position: relative;
    left: -10px;
    opacity: .8;
    font-size: 19px;
    top: 0px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: green;
}

.article-blurb-disadvantages li:before {
    content: "\f056";
    position: relative;
    left: -10px;
    opacity: .8;
    font-size: 19px;
    top: 0px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: red;
}


.plusbtn svg:hover{
   animation-duration:  700ms;
    animation-name: myanimation; 
    color: #3d72a4;
}
.plusbtn svg{
    animation-duration: 700ms; 
    animation-fill-mode: forwards; 
    animation-name: reverse; 
}

@keyframes myanimation { 
            from { 
                transform: rotate(0deg);
            } 
            to { 
                
                transform: rotate(180deg) ; 
            } 
        } 
          
        @keyframes reverse { 
            from { 
                
                transform: rotate(180deg); 
            } 
            to { 
                
                transform: rotate(0deg); 
            } 
        } 



.cookiepop_status{
  animation-name: popclose;
  animation-duration: 800ms;

}

@keyframes popclose{
 0%{
  opacity: 1;
 }
 50%{
   opacity: 0.6;
 }
 100%{
    opacity: 0;
 }
}

.container_pop{
    width: 75%;
    z-index: 12;
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
  
}
.cookiepop{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.8);
  height:70px;
  padding: 15px 40px;
  border-radius: 10px;
}

.cookiepop .closebtn{
  width: 20px;
    position: absolute;
    top: 2px;
    left: 97.8%;

}
.cookiepop .closebtn svg{
   fill: white;
   transform: rotate(45deg);
}


.cookiepop p{
  text-align: center;
  margin: 0;
  color: white;
   padding: 5px;
}

.cookiepop .actbtn {
    margin: auto;
    text-align: center;
    display: block;
    width: 150px;
    background-color: #3d72a4;
    color:white;
    padding:10px;
    border: 2px white solid;
    border-radius: 25px;
    font-size: small;
}


